#container{
    display: flex;
    justify-content: space-between;
    gap: 10xp;
    background-color: #D3D3D3;
}
#um {
    height: 1000px;
    width: 200px;
    margin: 10px;
    box-sizing: content-box;
    text-align: center;
    flex: 1;
    background-color: #FFF0F5;
}

#dois {
    height: 1000px;
    width: 800px;
    background-color: #FFF0F5;
}
h1 {
    text-align: center;
    color: #000000;
}
h2{
    text-align: center;
    color: #000000;
}
p {
    color: #000000;
    margin: 05px;
}

img {
    border-radius: 50px;
    border: 50 400px 50 400px;
    margin: 20px 45px 45px 45px;
}
ul .conteudo{
    text-align: left;
}
ul .idio {
    text-align: center;
}