body{
    background: palevioletred;
}
#title, .subtitle, .posttitle {
    color: blue;
}
.posttitle{
    font-size: medium;
    font-style: italic;
    background: color(rgb(14, 179, 157));
}
.posts {
    background: white;
padding: 10px;
border: 3px solid #000;
margin: 3px;
}